<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PATTREATOR :: {% block title %}Home{% endblock %}</title>
    <link href="{% static 'musterapp/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'musterapp/css/default.css' %}" rel="stylesheet">
</head>
<body  class="nav-l {% block bodyclass %}{% endblock %}">

    <nav id="nav-left">
        <div class="logo"><a href="{% url "index" %}"><h1 class="icon">PATTREATOR</h1></a></div>

        <ul class="nav">
            <li class="home"><a href="{% url "index" %}">Home</a></li>
            <li class="search"><a href="#">Search</a></li>
            <li class="network"><a href="#">Network</a></li>
            <li class="about"><a href="#">About</a></li>
        </ul>

        <div class="bottom">
            <a class="login" href="#">Login</a>
        </div>
    </nav>

    <div id="sidebar-left">
        {% block sidebar-left %}{% endblock %}
    </div>

    <div id="sidebar-right">
        {% block sidebar-right %}{% endblock %}
    </div>


    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>


    {% block root %}{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'musterapp/js/jquery-2.1.4.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'musterapp/bootstrap/js/bootstrap.js' %}"></script>

    <script src="{% static 'musterapp/js/default.js' %}"></script>
</body>
</html>
