{% load thumbnail %}

<div class="sidebar" id="left-sidebar">
    {% for category in categories %}
        <div class="volume-cat">
            <p class="volume-cat name {% if volume.category == category %}active{% endif %}">Collection<br>{{ category.name }}</p>

            <ul class="volume-list {% if volume.category != category %}hidden{% endif %}">
                {% for vol in category.volumes_ordered %}
                    <li class="volume">
                        <a {% if vol == volume  %}class="active" {% endif %}href="{% url "volume_detail" vol.record_id %}">&#x25CF; {{ vol.record_id }}</a>
                    </li>
                    <br/>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>