{% load thumbnail %}

<div class="sidebar" id="left-sidebar">
    {% for category in categories %}
        <div class="volume-cat">
            <p class="volume-cat name {% if volume.category == category %}active{% endif %}">Collection<br>{{ category.name }}</p>

            <div class="volume-list {% if volume.category != category %}hidden{% endif %}">
                {% for vol in category.volumes_ordered %}
                    <div class="volume">
                        <div>
                            <a href="{% url "volume_detail" vol.record_id %}">&#x25CF; {{ vol.record_id }}</a>
                        </div>
                    </div>
                    <br/>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>