{% extends "base.html" %}

{% block title %}Volumes{% endblock %}



{% load thumbnail %}
{% block content %}

{% for category in categories %}
    <div class="volume-cat">
        <h2>{{ category.name }}</h2>

        <div class="volume-list clearfix">

        {% for volume in category.volumes_ordered %}
            <div class="volume">
                {% with preview_page=volume.preview_page %}
                <img src="{% thumbnail preview_page.image "x80" %}" />
                {% endwith %}
                <div><a href="{% url "volume_detail" volume.record_id %}">{{ volume.record_id }}</a></div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}

{% endblock %}