{% extends "base.html" %}

{% load thumbnail %}

{% block title %}{{ page.record_id }}{% endblock %}


{% block content %}
<div id="page-browser">
    <h2>{{ page.record_id }}</h2>




    <div class="text-center">
        {% with prev=page.prev_page %}
        {% if prev %}
            <span class="prev-page">
                <a href="{% url 'page_browser' prev.record_id %}">Prev</a>
                </a>
            </span>
        {% endif %}
        {% endwith %}

        <span class="page">

        {% thumbnail page.image "x450" as scaled %}
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             width="{{ scaled.width }}" height="{{ scaled.height }}"
             viewBox="0 0 {{ page.image_width }} {{ page.image_height }}">

            <image x="0" y="0" width="{{ page.image_width }}" height="{{ page.image_height }}"
             xlink:href="{{ scaled.url }}" />

        {% for pattern in patterns %}
            <g>

                <rect x="{{ pattern.bbox.x }}" y="{{ pattern.bbox.y }}"
                      width="{{ pattern.bbox.width }}" height="{{ pattern.bbox.height}}"
                      stroke="black" stroke-width="10" fill="none" pointer-events="all"
                      id="pattern-{{ pattern.id }}" class="page-svg-patttern"
                        />


<!--
                <polygon points="{{ pattern.shape }}"
                      stroke="black" stroke-width="10" fill="blue"
                      id="pattern-{{  pattern.id }}"                        />
-->
            </g>
        {% endfor %}

        </svg>
        {%  endthumbnail %}
        </span>

        {% with next=page.next_page %}
            <span class="next-page">
                    <a href="{% url 'page_browser' next.record_id %}">Next</a>
            </span>
        {% endwith %}
    </div>

    <div class="text-center">
        Volume: <a href="{% url "volume_detail" volume.record_id %}">{{ volume.record_id }}</a>
    </div>

</div>
{% endblock %}

{% block root %}
{% for pattern in patterns %}
    <div class="page-pattern"
         id="pattern-{{ pattern.id }}-content"
         data-related-svg="pattern-{{ pattern.id }}"
         style="-width: {{ pattern.bbox.width }}px; -height: {{ pattern.bbox.height }}px">
    Pattern {{ pattern.id }}
    </div>
{% endfor %}
{% endblock %}