{% extends "base.html" %}

{% load thumbnail %}
{% load tag_colors %}
{% load favorit %}
{% load staticfiles %}

{% block title %}{{ page.record_id }}{% endblock %}

{% block bodyclass %}page-browser sb-r{% endblock %}

{% block content %}
<div id="page-browser">
  <div class="volume-title">
    <div class="volume-title-generic">Collection</div>
    <div class="volume-title-name">{{ volume.category.name }}</div>
  </div>


  <div class="page-with-nav">
      {% with prev=page.prev_page %}
          <div class="prev-page">
            {% if prev %}
              <a href="{% url 'page_browser' prev.record_id %}">Prev</a>
            {% else %}
              <span class="placeholder">&nbsp;</span>
            {% endif %}
          </div>
      {% endwith %}

      <div class="page">
          {% thumbnail page.image "720x500" format="PNG"  as scaled %}
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                   xmlns:xlink="http://www.w3.org/1999/xlink"
                   width="{{ scaled.width }}" height="{{ scaled.height }}"
                   viewBox="0 0 {{ page.image_width }} {{ page.image_height }}">

                  <image x="0" y="0" width="{{ page.image_width }}" height="{{ page.image_height }}"
                   xlink:href="{{ scaled.url }}" />

                  {% for pattern in patterns %}
                      <g>
                          <rect x="{{ pattern.bbox.x }}" y="{{ pattern.bbox.y }}"
                                width="{{ pattern.bbox.width }}" height="{{ pattern.bbox.height}}"
                                stroke="black" stroke-width="10" fill="none" pointer-events="all"
                                id="pattern-{{ pattern.id }}" class="page-svg-patttern"
                                  />

                          <!--
                          <polygon points="{{ pattern.shape }}"
                                stroke="black" stroke-width="10" fill="blue"
                                id="pattern-{{  pattern.id }}" />
                          -->
                      </g>
                  {% endfor %}
              </svg>
          {%  endthumbnail %}

      </div>

      {% with next=page.next_page %}
          <div class="next-page">
            {% if next %}
              <a href="{% url 'page_browser' next.record_id %}">Prev</a>
            {% else %}
              <span class="placeholder">&nbsp;</span>
            {% endif %}
          </div>
      {% endwith %}


  </div>

  <div class="volume-dot-navigation">
    <ul class="dot-paginator">
      {% for page_rid in volume.page_record_ids %}
        <li {% if page.record_id == page_rid %} class="active" {% endif %}>
          <a href="{% url 'page_browser' page_rid %}">{% url 'page_browser' page_rid %}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div class="volume-back">
  <a href="{% url "volume_detail" volume.record_id %}">View Volume</a>
</div>
{% endblock %}



{% block sidebar-right %}

  <div class="top">
    <div class="page-title">{{ page.record_id }}</div>
    <div class="pattern-count"><span class="count" >{{ page.patterns.count }}</span> Total  Patterns</div>
    <div class="vect-count"><span class="count">{{ page.vectorized_patterns.count }}</span> Vectorized</div>
  </div>


  <div class="patterns-vect">
    {% for pattern in page.vectorized_patterns %}
      <div class="pattern-sb"
        data-pattern-id="{{ pattern.id }}">
        <a href="{% url 'pattern_detail' pattern.id %}">
          <img src="{% thumbnail pattern.image "450x450" format="PNG" %}"
              data-svg-src="{{ pattern.vectors.first.file.url }}" />
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="page-meta">
    <dl>
      <dt>Collection Type</dt>
      <dd>{{ volume.category.name }}</dd>

      <dt>Manufactor / Location</dt>
      <dd>{{ volume.producer_name }} / {{ volume.producer_location }}</dd>

      <dt>Tags</dt>
      <dd>
        {% for color in page.colors.all %}{{ color.name|as_taga }} {% endfor %}
        {% for type in page.types.all %}{{ type.name|as_taga }} {% endfor %}
      </dd>
    </dl>
  </div>

{% endblock %}



{% block root %}
{% for pattern in patterns %}
<div class="modal fade page-pattern modal-centered"
         id="pattern-{{ pattern.id }}-content"
         data-pattern-id="{{ pattern.id }}"
         data-related-svg="pattern-{{ pattern.id }}"
         data-keyboard="true"  tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <!--
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-
          <h5 class="modal-title">Modal title</h5>
        </div>
        -->
        <div class="modal-body">

          <div class="pattern-image">
            <a href="{% url "pattern_detail" pattern.id %}" class="pattern-link">
              <img src="{% static 'musterapp/img/more.png' %}" class="pattern-image-more">
              <img src="{% thumbnail pattern.image "450x450" format="PNG" %}" class="pattern-image-image">
            </a>
          </div>

          <div class="pattern-favorite">
            {% fav_button pattern.id %}
          </div>

          <table class="pattern-meta">
            <tr class="tags">
              <td>Tags</td>
              <td>
                {% for tag in pattern.tags.names %}
                  {{ tag|as_taga }}
                {% endfor %}
              </td>
            </tr>
            <tr class="status">
              <td>Status</td>
              <td>...</td>
            </tr>
          </table>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endfor %}
{% endblock %}