{% extends "base.html" %}

{% load thumbnail %}
{% load tag_colors %}
{% load favorit %}
{% load avatar_tags %}
{% load staticfiles %}

{% block title %}{{ page.record_id }}/{{ pattern.id }}{% endblock %}
{% block bodyclass %}pattern-detail{% endblock %}

{% block content %}
    <div id="pattern-detail">
        <div class="top-bar">
            <div class="volume-title">
                <div class="volume-title-generic">Collection</div>
                <div class="volume-title-name"><a href="{% url "volume_detail" pattern.page.volume.record_id %}">{{ pattern.page.volume.category.name }}</a> <span style="color: lightgray">|</span> <a href="{% url "volume_detail" pattern.page.volume.record_id %}">{{ pattern.page.volume.record_id }}</a> <span style="color: lightgray">|</span> <span style="color: #00c2ff">CurrentPattern</span></div>
            </div>
        </div>

        <div class="left-col">
            <div id="current-pattern">
                <h3>ORIGINAL VIEW</h3>
                <a href="{{ pattern.image.url }}" download class="download-link">
                    <img src="{% static 'musterapp/img/download.png' %}" class="pattern-download">
                    <img src="{{ pattern.image.url }}" width="350">
                </a>
                <div class="tags-editable">
                    <table class="pattern-meta">
                        <tr class="tags">
                            <td>Tags</td>
                            <td class="taglist">
                                {% for tag in pattern.tags.names %}
                                    {{ tag|as_taga }}
                                {% endfor %}
                            </td>
                            <td>
                                <div class="tag-add-form" data-action="{% url 'add_tag' pattern.id %}">
                                    <input type="text" class="tag-add-input">
                                    <button class="tag-add-button">add</button>
                                </div>
                            </td>
                        </tr>
                        <tr class="status">
                            <td>Status</td>
                            <td><span class="count">{{ pattern.vector_count|stringformat:"02d" }}</span> Vectorized</td>
                        </tr>
                    </table>
                    {% fav_button pattern.id %}
                </div>
            </div>

            <div id="current-vector">
                <h3>VECTORIZED VIEW</h3>
                <a href="{{ vector.file.url }}" download class="download-link">
                    <img src="{% static 'musterapp/img/download.png' %}" class="vector-download">
                    <img src="{{ vector.file.url }}" width="350" class="darken">
                </a>
                <p>Preference Score</p>
                <div class="vector-rating" data-action="{% url 'rate_vector' vector.id %}" data-score="{{ vector.rating }}"></div>
            </div>
        </div>

        <div class="middle-col">
                <div class="upload-field">
                    <h3>UPLOAD</h3>
                    <span class="x-centered">
                        <a class="upload" style="cursor: pointer">UPLOAD</a>
                        <p><span style="color: #00c2ff">Upload </span><span style="color: #a19f9f">your own</span> PATTERN!</p>
                    </span>
                </div>

            <div class="uploader">
                <h3>MANUFACTOR INFO</h3>
                <img class="avatar" id="gravatar" src={% avatar_url author %}>
            <p style="font-family: kirvy-bold-webfont; font-size: 12px"> {{ author.first_name }} {{ author.last_name|slice:"1" }}.</p>
            <p style="color: lightgray">{{ author.professional.profession }}</p>
            </div>
        </div>

        <div class="right-col">
            <div id="vector-list">
                <h3>Vectorized Pattern</h3>
                <div class="listing">
                {% for vec in vectors %}
                    <div class="vector-list-element">
                        <a href="{% url 'pattern_detail' pattern.id vec.id %}">
                            <img src="{{ vec.file.url }}" width="250">
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade page-pattern modal-centered"
     id="upload-form" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-body modal-login">
            <p class="top-border">Upload</p>
            <form action="{% url 'pattern_detail' pattern.id vector.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.vectorfile.label_tag }} {{ form.vectorfile.help_text }}</p>
                <p>
                    {{ form.vectorfile.errors }}
                    {{ form.vectorfile }}
                </p>
                <p><input type="submit" value="Upload" {% if not user.is_authenticated %}disabled{% endif %}/></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}

