{% extends "base.html" %}

{% load thumbnail %}
{% load favorit %}

{% block title %}Search{% endblock %}
{% block bodyclass %}search{% endblock %}

{% block content %}
<div id="search">
  <form id="search-form" action="{% url "search" %}" method="get">
    <div class="query-block clearfix">
      <input class="query" type="text" name="q" value="{{ q }}">
      <input type="submit" value="" class="search-button">
    </div>
    <div class="filter-block">
      FILTER:
      <input id="faved" class="filter" type="checkbox" name="faved" value="only"
             {% if faved  %}checked{% endif %}
             {% if not user.is_authenticated %}disabled{% endif %}/>
      <label for="faved"><span></span>Favorited</label>

      <input id="vectorized" class="filter" type="checkbox" name="vectorized" value="only"
             {% if vectorized  %}checked{% endif %} />
      <label for="vectorized"><span></span>Vectorized</label>
    </div>
  </form>

  {% include "musterapp/search_list.html" %}

</div>
{% endblock %}
