{% load thumbnail %}
{% load favorit %}
{% load tag_colors %}

  <div class="search-list {% if request.is_ajax %}ajax{% endif %}">
    <div class="search-result clearfix">
      {% for pattern in patterns %}
        <div class="pattern">
          <a href="{% url 'pattern_detail' pattern.id %}">
            <img src="{% thumbnail pattern.image "300x350" format="PNG" %}">
          </a>
          <div class="tags">
            {% for tag in pattern.tags.names %}
              {{ tag|as_taga }}
            {% endfor %}
          </div>

          <div class="fav">
            {% fav_button pattern.id %}
          </div>

          <a class="status" href="{% url 'pattern_detail' pattern.id %}">
            Status <span class="count">{{ pattern.vector_count|stringformat:"02d" }}</span> Vectorized
          </a>
        </div>
      {% endfor %}
    </div>



    <div class="pagination">
      <ul class="dot-paginator">
        {% for page in patterns.paginator.page_range %}
          <li {% if page == patterns.number %} class="active" {% endif %}>
            <a href="{% url 'search' %}?q={{ q }}{% if faved %}&faved=only{% endif %}{% if vectorized %}&vectorized=only{% endif %}&page={{ page }}">
              {{ page }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>