{% extends "base.html" %}

{% load thumbnail %}

{% block title %}{{ volume.record_id }}{% endblock %}


{% block content %}

<div class="page-left">
{% if page_left %}
{% with page=page_left %}

    <h2>{{ page.record_id }}</h2>

    <div>
    {% thumbnail page.image "x450" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    </div>

    <a href="{% url "volume_list_number" volume.record_id prev_page_number %}">prev</a>
{% endwith %}
{% endif %}
</div>


<div class="page-right">
{% if page_right %}
{% with page=page_right %}
    <h2>{{ page.record_id }}</h2>

    <div>
    {% thumbnail page.image "x450" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    </div>

    <a href="{% url "volume_list_number" volume.record_id next_page_number %}">next</a>
{% endwith %}
{% endif %}
</div>

{% endblock %}