/*
logo-bg: #ff6f00
content-bg: #4d4d4a
login-bg: #1f1e1e
content-modal-bg: a4a3a3
modal-bg: #575656
modal-font: #bdbcbc
modal-link: #00c2ff
modal-form-border: #bdbcbc
schrift: #b3b3b3
icons: #a09f9f
dot: #393737
*/


/* Custom Font */
@font-face {
  font-family: 'kirvy-regular-webfont';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/kirvy-regular-webfont.woff') format('woff'),
       url('../fonts/kirvy-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'kirvy-bold-webfont';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/kirvy-bold-webfont.woff') format('woff'),
       url('../fonts/kirvy-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'kirvy-light-webfont';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/kirvy-light-webfont.woff') format('woff'),
       url('../fonts/kirvy-light-webfont.woff2') format('woff2');
}



/* Base layout (fonts, colors, etc.) */
body {
  font-family: kirvy-regular-webfont;
  font-size: 14px;
  line-height: 1.42857143;
  /* color: #333333; */
  color: #fff;
  background-color: #4d494a;
}


.tag {
  padding: 1px;
}


input, button, select, textarea {
  color: #000;
}

/* Force fixed (non responsive) bootstrap layout */
.container {
  width: 1170px;
  max-width: none !important;
  padding: 20px 20px;
  margin: 0 auto;
}

#nav-left, #sidebar-left, #sidebar-right {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
}

.nav-l #nav-left {
  display: block;
  width: 80px;
  left: 0;
}

.sb-l #sidebar-left {
  display: block;
  width: 180px;
  position: fixed;
  left: 0;
}

.nav-l.sb-l #sidebar-left {
  left: 80px;
}

.sb-r #sidebar-right {
  display: block;
  right: 0;
  width: 180px;
}

.nav-l .container {
  padding-left: 100px;
}

.sb-l .container {
  padding-left: 200px;
}

.sb-r .container {
  padding-right: 200px;
}

.nav-l.sb-l .container {
  padding-left: 280px;
}

/* Modals */
.modal-content {
  border-radius: 0;
}

.modal-header {
  padding: 2px;
  border-bottom: 1px solid #575656;
  min-height: 17px;

  background-color: #000;
}

.modal-title {
  text-align: center;
}

.modal-centered {
  align-items: center;
  margin: 0 auto;
}

.modal-centered.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.modal-centered.fade.in .modal-dialog {
  opacity: 1;
}

/* tmp login site */
#login-form .modal-login input {
  width: 300px;
  height: 36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #bbbdbf;
  border-width: 0px;
}

#login-form .modal-login table.login {
    margin-left: auto;
    margin-right: auto;
}

#login-form .modal-login input[type="submit"] {
  background-color: #ff6f00;
  color: #ffffff;
}

#login-form .modal-login {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  background-color: rgba(81,81,81,0.8);
}

#login-form .modal-login p.top-border {
  font-family: kirvy-bold-webfont;
  font-size: large;
  text-align: center;
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.6);
}

#login-form .logo h1 {
  width: 30px;
  height: 30px;
  display: block;
  background-size: 30px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 35px auto 35px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}

#login-form .modal-login td {
  padding-right: 3px;
}

#login-form .modal-login p.support-text {
  font-family: kirvy-light-webfont;
  font-size: small;
  color: #bbbdbf;
  margin: 0;
}

#login-form .modal-login a.support-link {
  cursor: pointer;
  text-align: right;
  font-family: kirvy-light-webfont;
  font-size: small;
  margin: 0;
}

/* Left Navigation */
#nav-left {
  background-color: #000;
}

#nav-left ul.nav {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

#nav-left .logo,
#nav-left .nav li {
  height: 80px;
  width: 80px;
  padding: 25px;
}


#nav-left a.login,
#nav-left .logo h1,
#nav-left .nav a,
#nav-left .bottom  a.button {
  width: 30px;
  height: 30px;
  display: block;
  background-size: 30px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  /* .text-hide(); */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

#nav-left .logo {
  background-color: #ff6f00;
}

#nav-left .logo h1,
#login-form .logo h1 {
  background-image: url(../img/svg/logo.svg);
}

#nav-left .nav .home a {
  background-image: url(../img/svg/home.svg);
}

#nav-left .nav .search a {
  background-image: url(../img/svg/search.svg);
}

#nav-left .nav .network a {
  background-image: url(../img/svg/network.svg);
}

#nav-left .nav .about a {
  background-image: url(../img/svg/info.svg);
}

#nav-left a.login {
  background-image: url(../img/svg/login.svg);
}

#nav-left a.favorites {
  background-image: url(../img/svg/favorite.svg);
}

#nav-left a.bookmarks {
  background-image: url(../img/svg/bookmark.svg);
}

#nav-left .fold {
  position: fixed;
  bottom: 0;
  width: 80px;
}

#nav-left p.fold-button {
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  background-color: #393536;
  width: 80px;
  height: 15px;
  background-image: url(../img/svg/popdown.svg);
  background-position: center center;
  background-repeat: no-repeat;

  /* .text-hide(); */
  font: 0/0 a;
  color: transparent;
}

#nav-left p.fold-button.down {
  background-image: url(../img/svg/popup.svg);
}

#nav-left .bottom .avatar img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-color: #000000;
  border-width: 2px;
  width: 30px;
  height: 30px;
  background: #ffffff;
}

#nav-left .bottom {
  position: relative;
  bottom: 0;
  background-color: #1f1e1e;
  list-style-type: none;
  width: 80px;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#nav-left .bottom li {
  padding-top: 8px;
  padding-bottom: 8px;
}

#nav-left .bottom a.avatar,
#nav-left .bottom a.textlink {
  font-size: 13px;
  font-family: kirvy-light-webfont;
}

#nav-left .bottom a.avatar {
  color: #ffffff;
}

#nav-left .bottom a.textlink {
  white-space: nowrap;
  margin-left: -5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #2e2c2c;
  border-left-width: 0px;
  border-right-width: 0px;
  color: #818080;
}

#nav-left .bottom li.hidden {
  display: none;
}

/* left categorybrowser sidebar */
.volume-detail #sidebar-left {
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 20px;
  padding-top: 65px;
  background-color: #2a2827;
}


#sidebar-left h2{
  font-family: kirvy-bold-webfont;
  font-size: 14px;
  line-height: 130%;
  margin: 0;
}

.volume-cat {
  font-family: kirvy-regular-webfont;
  position: relative;
}

.volume-cat p {
  line-height: 130%;
  font-stretch: ultra-expanded;
  margin: 0px;
}

.volume-cat li {
  font-size: 12px;
  float: left;
  clear: both;
}

.volume-cat a {
  color: #a19f9f;
  text-decoration: none;
}

.volume-cat .name {
  /*background-color: #4d494a;*/
  padding: 5px 5px 5px 5px;
  margin-top: 15px;
  border: 0px solid #a19f9f;
  border-left-width: 8px;
  cursor: pointer;
}


.volume-cat .active {
  border-color: #ff6f00;
  color: #f6f6f6;
}


.volume-cat .volume-list {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  /*background-color: #181719;*/
  border: 0px solid #a19f9f;
  border-left-width: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.volume-cat .volume-list .hover {
  color: #f6f6f6;
}

.volume-cat .volume-list .hidden {
  display: none;
}

.volume-cat .volume {
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}

/* volume_detail specific styles */
#volume-detail .page-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#volume-detail .page-list .page {
  margin: 10px;
}

/* page_browser specific styles */
#page-browser .volume-title {
  position: absolute;
  top: 20px;
  left: 100px;
  display: block;
  padding: 1.2em 0 0 4px;
  border-left: 12px solid #00c2ff;
}

#page-browser .volume-title-generic {
  display: block;
  font-family: kirvy-bold-webfont;
  font-size: 14px;
  line-height: 1.2em;
}

/* Baselinetrick from http://blogs.adobe.com/webplatform/2014/08/13/one-weird-trick-to-baseline-align-text/ */
#page-browser .volume-title-name {
  display: block;
  line-height: 0;
  font-stretch: ultra-expanded;
}

#page-browser .volume-title-name:after {
  content: "";
  display: inline-block;
  height: 1em;
}

.page-browser .container {
  padding-top: 100px;
}

#page-browser .page-with-nav {
  text-align: center;
}

#page-browser .page {
  display: inline-block;
}

#page-browser .page svg {
  vertical-align: middle;
  fill-opacity: 0.0;
  max-width: 720px;
}

#page-browser .prev-page,
#page-browser .next-page {
  display: inline-block;
  width: 70px;
  height: 450px;
  padding: 195px 20px;
}

#page-browser .prev-page a,
#page-browser .next-page a {
  width: 30px;
  height: 30px;
  display: block;
  background-size: 30px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  /* .text-hide(); */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

#page-browser .prev-page a {
  background-image: url(../img/svg/prev.svg);
}

#page-browser .next-page a {
  background-image: url(../img/svg/next.svg);
}

.page-pattern .modal-dialog {
  width: 480px;
}

.page-pattern .pattern-image {
  position: relative;
}

.page-pattern .pattern-link img.pattern-image-image {
  display: block;
}

.page-pattern .pattern-link img.pattern-image-more {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -15px;
}

.page-pattern .pattern-link:hover img.pattern-image-more {
  display: block;
}

.page-pattern .pattern-meta td {
  padding: 2px 4px 2px 0;
}

/* Sidebar  */
#sidebar-right {
  background-color: #000;
  padding: 10px 10px;
}

.sb-r #sidebar-right {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar-right .top {
  min-height: 60px;
}


#sidebar-right .page-title {
  font-weight: bold;
  border-bottom: 1px solid #fff;
  margin-bottom: 3px;
}

#sidebar-right .pattern-count,
#sidebar-right .vect-count {
  font-size: 0.8em;
  color: #999999;
}

#sidebar-right .count {
  color: #fff;
}

#sidebar-right .patterns-vect {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidebar-right .patterns-vect .pattern-sb{
  margin-bottom: 3px;
}

#sidebar-right .patterns-vect img {
  width: 145px;
  height: auto;
}

#sidebar-right .page-meta {
  font-size: 0.8em;
  min-height: 200px;
}

#sidebar-right .page-meta dt {
  margin: 0;
}

#sidebar-right .page-meta dt {
  color: #999;
  margin-top: 0.5em;
}

#sidebar-right .page-meta dd {
  color: #fff;
}

.volume-back {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.sb-r .volume-back {
  right: 200px;
}

.volume-back a {
  display: block;
  width: 30px;
  height: 44px;

  background-size: 30px 44px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  background-image: url(../img/view.png);

  /* .text-hide(); */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


/* Page Browser SVG effects  */
.page svg rect:hover,
.page svg rect.highlight{
  stroke-width: 5px;
  stroke: #000;
  cursor: pointer;
}

.page svg rect {
  stroke-width: none;
  stroke: none;
}


/* Search */
#search form {
  margin: 20px 0 40px;
}

#search input.query {
  display: block;
  width: 500px;
  margin: 0 auto;
  color: black;
}

#search .search-result .pattern {
  height: 180px;
  float: left;
  padding: 10px;
}

#search .pattern img {
  height: 120px;
  width: auto;
  display: block;
}


/* Favorites */
.favorit {
  background: none !important;
  border: none;
  outline: none;
  padding: 0 !important;
  font: inherit;

  cursor: pointer;
}

.favorit .icon {
  display: block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-position: center center;
  background-repeat: no-repeat;

  /* .text-hide(); */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.favorit.faved .icon {
  background-image: url(../img/svg/star-faved.svg);
}

.favorit.unfaved .icon {
  background-image: url(../img/svg/star-unfaved.svg);
}


/* Navigation */
ul.dot-paginator  {
  display: block;
  list-style-type: none;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}

ul.dot-paginator li {
  display: inline-block;
  padding: 0 2px;
}

ul.dot-paginator li a {
  display: block;
  width: 20px;
  height: 20px;

  background-size: 10px 10px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  background-image: url(../img/dot.png);

  /* .text-hide(); */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

ul.dot-paginator li.active a {
  background-image: url(../img/dot-active.png);
}


/* Tag Add Functions */
.tag-add-input {
  display: none;
  position: absolute;
  tab-index: -1;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #000;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-no-suggestion {
  padding: 2px 5px;
}

.autocomplete-selected {
  background: #333;
}

.autocomplete-suggestions strong {
  font-weight: bold;
  color: #fff;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  display: block;
  border-bottom: 1px solid #333;
}
